


<div class="login-container">
  <div class="login-left">
    <img src="/assets/images/login-image.png" alt="Educadoras usando laptop" />
    <div class="shape shape-petal-pink"></div> <!-- Triángulo rosado redondeado -->
  </div>

  <div class="login-right">
    <div class="shape shape-blue-left"></div>   <!-- Azul en login-right -->
    <div class="shape shape-purple-right"></div>
    <div class="shape shape-green-right"></div>

    <img src="/assets/images/logo-cultivarte.png" alt="Cultivarte Logo" class="logo" />

    <button class="google-button">Iniciar sesión con google</button>
  </div>
</div>


  <!-- Figura rosada como pétalo -->
  <div class="rounded-petal"></div>

  <!-- Imagen del computador -->
  <img src="assets/images/computer.png" alt="Computador" class="computer-image" />
